.masthead {
  position: relative;
  background-color: #343a40;
  background-image:url('../images/fried.jpg'); 
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  .masthead h1 {
    font-size: 3rem;
  }
}


/*my-code*/
.dishes_images_properties{
border-radius: 30px;
}

.top_dishes_images_properties{
  border-radius: 5px;
}
.chef_images-properties{
  border-radius: 40px;
  }

.logo{
  padding-top: -5px;
  max-width: 100%;
  padding-bottom: 12px;
}

.nav_link{
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
}

.nav_link:hover{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.chef_container{
  background-color:#EAEAEA;
}

.custome_heading{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.up_down_spacer{
  padding-top: 50px;
  padding-bottom: 50px;
}

.heading-spacer{
  padding-top: 30px;
  padding-bottom: 0px;
}
.bg-dark{
background-color: transparent !important;

}
.add-ing{
  height: 10rem !important;
}
.table{
  border: 1px solid #f2f2f2;
}
.table td, .table th{
  padding: 7px;
}
.add-bg{
  border: 1px solid #f2f2f2;
}
.dashboard-navbar{


}
.dashboard-nav-item{
float: left;
color: #000;
font-weight: 600;


}
.dashboard-nav-item a{
  padding: 6px 15px;
  color: #282828;
  font-weight: 600;
  border: 2px dashed #000;
  border-radius:5px;
}
.dashboard-nav-item a:hover{
  background-color: #f30;
  color: #fff;
  font-weight: 600;
  border: 2px dashed #f30;
}
.active {
    background-color: #f30;
    color: #fff !important;
    border: 2px dashed #f30 !important;
}
.dishes_gallery_images{
  border-radius: 10px;
}
.border_styling{

  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom-style: groove;
  border-top-style: groove;

  
}
.customer_content{
margin-left: 100px;
margin-right: 100px;
border-style: solid;
}
.customer_content_image{
width: 100px;
height: 150px;
border-radius:30px;
}
.customer_content_border{
  border-style:solid;
}
.customer_content_text{
  padding-top: 117px;
}

/* image_zoomer */
.img_zoomer{
  transition: transform .3s;
}
.img_zoomer:hover{
  transform: scale(0.9);
}
.partners_logos_sizes{
  padding: 3px;
  margin: 3px;
  width: 100px;
  height: 100px;
}
.carousel_font{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #000 !important;
}
a.text-primary:focus, a.text-primary:hover{

  color: #f30 !important;
}
.dish-custom{
    margin: 10px 0 0 0;
    padding: 5px 0;
    border-top: 2px solid #7e7e7e;
    border-bottom: 2px solid #7e7e7e;
}
.seemore-btndiv{
   text-align: center;
    width: 100%;
    max-width: 10%;
    margin: 0 auto;
}
.seemore-btn{
text-align: center;
}
.seemore-btn a{
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 700;
    /* text-shadow: 0px 1px 0px #000; */
    box-shadow: 1px 1.5px 1px #000;
    text-transform: uppercase;
    color: #000;
    /* background-color: #f30; */
    border: 2px dashed #000;
}
.seemore-btn a:hover{
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 700;
    text-shadow: 1px 1px 2px #000;
    box-shadow: 1px 1.5px 2px #000;
    text-transform: uppercase;
    color: #fff !important;
    background-color: #f30;
    border: 2px dashed transparent;
}
.border_top_dishes{
  border-bottom: thick;
  border-top: thick;
  border-color: #343a40;
}

.fit-image{
  width: 100%;
  object-fit: cover;
  height: 300px; /* only if you want fixed height */
  }
  .client_images{
    /*margin-left: 9rem;*/
  }
  .img-thumbnail{
    font-size: 26px;
    float: left;
        border: none;

  }
  .pull-right1{
    float: none;

  }
  .custom-feedback{
padding: 6rem 1.3rem 4rem 18rem;

  }
  .customer-feedback{
    border: 2px solid #f30;

  }
  .blockquote-footer {
    display: block;
    font-size: 20px;
    color: #282828;
    font-weight: bold;
}
.custom-title{
 float: left;

}
.custom-des{
    color: #868e96;
    font-size: 13px;
    font-style: normal;
    padding: 7px 0;

}
.custom-footer{
    width: 100%;
    max-width: 26%;
    margin: 0 auto;
    color: #282828;
    font-weight: bold;

}
.block3{
  border: 1px rgba(59, 69, 85, 0.09) solid;
  padding: 5px;
  box-shadow: 0 4px 24px 0 rgba(59, 69, 85, 0.09);
}


/* Ends_here */

/* tag label */
/*[ Block2 ]
///////////////////////////////////////////////////////////
*/

.overlay-new {  
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  background-color: #f30;
  color: #fff;
  margin-top: 20px;
  font-family: Montserrat-Regular;
  padding: 5px;
  font-size: 12px;
  /* border-top-right-radius:10px ; */
  border-bottom-right-radius:10px ;

}
.overlay-featured {  
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  background-color: #f30;
  color: #fff;
  margin-top: 55px;
  font-family: Montserrat-Regular;
  padding: 5px;
  font-size: 12px;
  /* border-top-right-radius:10px ; */
  border-bottom-right-radius:10px ;
  max-width: max-content;

}
.overlay-time {  
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  color: #f30;
  margin-top: 10px;
  font-family: Montserrat-Regular;
  padding: 5px;
  font-size: 20px;
  /* border-top-right-radius:10px ; */
  border-bottom-left-radius:10px ;
  margin-left: 235px;
  position: absolute;

}
.minute_text{
  font-size: 11px;
  margin-top: 36px;
margin-left: -18px;
}
.distance2 {
  background: #f30;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  padding: 0 10px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 20px;
  margin-top: 25px;
}

.page-item.active .page-link {
  z-index: 2;
  color:#fff;
background-color:
#f30;
border-color:
  #f30;
}
.facebook_login_btn_color{
  background-color:#3b5998 ;
  color: #fff;
}
.login_btn_color{
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 1px 1.5px 2px #000;
  color: #000;
  text-transform: uppercase;
  border: 2px dashed #000;
  background-color:transparent;
}
.login_btn_color:hover{
  background-color: #f30;
  color:#fff;
  border: 2px solid #f30;
}
.forgot_link
{
  margin-top: 10px;
}
.modal-heading{
  margin-bottom: 0;
}
.modal-heading-sp{
  padding: 0;
  text-align: left;
  border-bottom: 1px solid #ccc;
  margin: 5px 0 10px 0;
}
.modal-spacing{
  padding: 0 20px 5px 20px;
}
.left-text{
 text-align: left;

}
.right-text1{
  text-align: right;
 }
 .modal-footer {padding: 0;}
 .btn-outline-success{
color: #000;
background-color: transparent;
background-image: none;
border-color: #000;
box-shadow: 1px 1.5px 2px #000;
text-transform: uppercase;
border: 2px dashed #000 !important;
font-weight: 700 !important;
 }
 .custom-reviews{
  color: #fff;
  background-color: #000;
  padding: 0 5px 2px 5px;
  border-radius: 5px;
 }
 strike {
  margin: 0 5px;
  font-size: 14px;
  font-weight: 300;

 }
 /*mycode*/
 /*catered_new_code*/
 #f30;
border-color:
  #f30;
}
.btn-warning, .bg-warning{
  background: #f30;
  color: #fff;
}

.btn-warning:hover{
  background: #fff;
  color: #f30;
}
.widget{
width: 100%;
}
.left_right_spacer
{
  padding-left: 30px;
  padding-right: 30px;
}
.down_spacer{
  padding-bottom: 25px;
}
.up_spacer{
  padding-top: 25px;
}
.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}
/* fany_check_boxes_css */

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.add_button{
 background-color: #f30;
 color: #fff;
 padding:13px;
 border-radius: 5px;
 width: 50px;
}
.dash-heading{
    margin: 2rem 0 0 0;
}
.dash-nav{
  margin: 1rem 0 0 0;
}
.sub-h3{
  text-align: left;
  color:#282828;
}
.dash-btn{
  margin: 15px 0;
}

.chef_dashboard_form_algin{
padding-left:  8rem;
}
.form-control
{
  height: 36px;
}
.btn-warning, .bg-warning{
  background:  transparent;
  color:  #282828;
  border: 2px dashed #000;
  font-weight: 600;
  margin: 0 5px;
  }

.btn-warning:hover{
  background: #fff;
  color: #f30;
  border-style: dashed;
  border: solid;
}
.btn-warning:active{
  background-color: #f30;
  background-image: none;
  border-color:  transparent;

}